.pokemonpage-wrapper{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

  width: 400px;
  height: 300px;
  align-items: center;
  display: flex;

  flex-direction: row;
  justify-content: center;

  color: white;
  background-color: #a8dadc;
  border-radius: 40px;
  
}


.pokemonpage-wrapper h1{

  font-size: 30px;
  font-weight: 800;
}

.pokemonpage-wrapper h2{

  
line-height: 80%;
}


.pokemonpage-wrapper img{
  width: 200px;

}