
<div  class="pokemonpage-wrapper"
  [ngClass]="{'isCaught': pokemon.caught,'notCaught': !pokemon.caught}"
>

  <img *ngIf="pokemon.sprites.front_default"  [src]="pokemon.sprites.front_default" alt="">
      <div *ngIf="pokemon" class="pokemonpage">
        <h1>{{pokemon.name | uppercase}} </h1>
        <h2><span>#</span>{{pokemon.id}}</h2>
        <h2><span>Name: </span>{{pokemon.name}}</h2>
        <h2><span>Weight: </span>{{pokemon.weight}}</h2>
        <h2><span>Abilities: </span></h2>

        <div class="abilities"*ngFor="let ab of pokemon.abilities, let i = index" >
          <h3 *ngIf="ab.is_hidden == false" style="margin: 0 0 1px" >  {{ab.ability.name}} </h3>
        </div> 
        
      </div>

      
</div>
<div class="catcher">
  <button *ngIf="!pokemon.caught" mat-raised-button (click)="catchPokemon(pokemon.id)">Catch</button>
  <button *ngIf="pokemon.caught" mat-raised-button (click)="releasePokemon(pokemon.id)">Release</button>

  
</div>
