



<!-- Spinner icon while loading -->
   <mat-spinner class="spinner-div" *ngIf="!this.pokeDataService.loadedFlag"></mat-spinner>  


<!-- Div for filtered list of pokemons -->

<div *ngIf="this.pokeDataService.loadedFlag" class="pokebrowser-wrapper">
    <div class="pokecard" *ngFor="let pokeItem of this.pokeDataService.pokemonList | filterType: selectedOption:this.pokeDataService.flagOnlyChecked: this.pokeDataService.searchString " (click)="navigateTo(pokeItem.id)"
    
    [ngClass]="{'isCaught': pokeItem.caught,'notCaught': !pokeItem.caught}"

    >
        <div class="tags">
          <h2>#{{pokeItem.id}} </h2>
         <h1>{{pokeItem.name}} </h1>
        </div>
        <div class="imgcont">
          <img *ngIf="pokeItem.sprites.front_default"  [src]="pokeItem.sprites.front_default" alt="">

        </div>
  
    </div>  

</div>












