

<div class="main-wrapper">
  
    <div class="browser-wrapper">
      <app-search-bar #searchbar ></app-search-bar>
      <app-poke-browser #browser [selectedOption]="types.selectedOptions.selected[0]?.value" (caughtFilter)="browser.toggleFilter($event)"></app-poke-browser>
    </div>


    <div class="typeList">
        <mat-selection-list #types [multiple]="false"  >
          <mat-list-option *ngFor="let pokeType of this.pokeTypes?.results" [value]="pokeType.name" >
            {{pokeType.name}} {{pokeType.caught}}
          </mat-list-option>
        </mat-selection-list>
    </div>


  

</div>




