

.main-wrapper{
  display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    justify-items: center;
}

.browser-wrapper{
  width: auto;
  display: flex;
  flex-direction: column;
  
    margin-left: auto;
    margin-right: 30px;
    justify-items: center;
}

.typeList{
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;

  width: 200px;
  justify-items: center;


}

.types{
  max-height: 556px;
  width: 200px;
  overflow-y: scroll;
}

.typeHead{
  height: 50px;
  
  text-align: center;

  text-align: center;
  vertical-align: middle;
  line-height: 40px; 
}

.typeHead p{
  font-size: 30px;
  color: #1d3557;
  margin-bottom: 3px;
  margin-top: 3px
}
/* .typeList h3{
  margin-top: 10px;
  line-height: 10%;
} */


.mySelectedPanel .mat-option {
  font-family: 'Times New Roman';
  font-size: 15px;
}